@page "/"


@using R5T.R0011.Client.Layouts


<Layout>
    <Head>
        <meta name="author" content="David Coats">
    </Head>
    <Body>
        <PageTitle>Index</PageTitle>

        <h1>Hello, world!</h1>

        Welcome to your new app.

        <p>Test01 link: <a href="Test01">Test01</a></p>

        <p>Another paragraph.</p>
    </Body>
</Layout>